<div class="cardapio_bebidas">
    <h2>Bebidas</h2>
    <div class="img_cardapioBebidas">
        <ul>
            <li class="modalBebidas"><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
            <div class="bebidasImg_modal">
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
                <li><img src="/img/milk_shake.jpg" alt="" width="140" height="100"></li>
            </div>
        </ul>
    </div>
    <div class="bebidas_cardapio">
        <ul>
            <li onclick="abrirModalBebidas()" class="modalBebidas">
                <h3>milk_shake</h3>
                <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
            </li>
            <div class="bebidas_modal">
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
                <li>
                    <h3>milk_shake</h3>
                    <p><strong>Contem:</strong> asdasd asdas asdas asdas</p>
                </li>
            </div>
        </ul>
    </div>
</div>