<section id="chat">

    <div class="container">
        <div class="painel">
            <h2 onclick="abrirChat()">Chat </h2>
            <span onclick="fecharChat()">Fechar</span>
        </div>
        <div id="modalChat">
            <div class="msg">
                <div class="user">

                </div>
                <hr>
                <div class="roboot">

                </div>
            </div>
            <div class="escrevendo" id="escrevendo">
                <ul>
                    <li><input type="text"></li>
                    <li><button class="btn btn-success">Enviar</button></li>
                </ul>
            </div>
        </div>
    </div>

</section>