<hr>
<h3 id="drinks">Drinks</h3>
<p>
    Te ferri iisque aliquando pro, posse nonumes efficiantur in cum. Sensibus reprimique eu pro. Fuisset mentitum
    deleniti sit ea.
</p>
<table class="table table-striped cart-list ">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Price
            </th>
            <th>
                Order
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-21.jpg" alt="thumb"></figure>
                <h5>21. Coke 0.33L</h5>
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
            </td>
            <td>
                <strong>€ 5,70</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-22.jpg" alt="thumb"></figure>
                <h5>2. Diet Coke 0.33L</h5>
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
            </td>
            <td>
                <strong>€ 2,70</strong>
            </td>
           <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-23.jpg" alt="thumb"></figure>
                <h5>3. Diet Coke 1L</h5>
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
            </td>
            <td>
                <strong>€ 5,70</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-24.jpg" alt="thumb"></figure>
                <h5>4. Fanta Orange 0.33L</h5>
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
            </td>
            <td>
                <strong>€ 2,70</strong>
            </td>
           <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Adicionar ao carrinho</a>
                </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div><!-- End box_style_1 -->
</div><!-- End col-md-6 -->

<div class="col-md-3" id="sidebar">
    <div class="theiaStickySidebar">
        <div id="cart_box">
            <h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
            <table class="table table_summary">
                <tbody>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>1x</strong>
                            Enchiladas
                        </td>
                        <td>
                            <strong class="pull-right">$11</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong>
                            Burrito
                        </td>
                        <td>
                            <strong class="pull-right">$14</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>1x</strong>
                            Chicken
                        </td>
                        <td>
                            <strong class="pull-right">$20</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong>
                            Corona Beer
                        </td>
                        <td>
                            <strong class="pull-right">$9</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong>
                            Cheese Cake
                        </td>
                        <td>
                            <strong class="pull-right">$12</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="row" id="options_2">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                    <label><input type="radio" value="" checked name="option_2" class="icheck">Entrega</label>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                    <label><input type="radio" value="" name="option_2" class="icheck">Retirar no local</label>
                </div>
            </div><!-- Edn options 2 -->

            <hr>
            <table class="table table_summary">
                <tbody>
                    <tr>
                        <td>
                            Subtotal <span class="pull-right">R$56</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Entrega <span class="pull-right">R$10</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="total">
                            TOTAL <span class="pull-right">R$50</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>