<hr>
<h3 id="main_courses">Main courses</h3>
<p>
    Te ferri iisque aliquando pro, posse nonumes efficiantur in cum. Sensibus reprimique eu pro. Fuisset mentitum
    deleniti sit ea.
</p>
<table class="table table-striped cart-list ">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Valor
            </th>
            <th>
                Alteração
            </th>
        </tr>
    </thead>
    <tbody>
        <td colspan="3">
            <h5>5. Cheese Quesadilla</h5> </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-5.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>R$ 12,00</strong>
            </td>
            <td class="options">
                <div class="dropdown dropdown-options">
                    <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                    <div class="dropdown-menu">
                        <h5>Select an option</h5>
                        <label>
                            <input type="radio" value="option1" name="options_5" checked>Medium <span>+ $3.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option2" name="options_5">Large <span>+ $5.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option3" name="options_5">Extra Large <span>+ $8.30</span>
                        </label>
                        <h5>Add ingredients</h5>
                        <label>
                            <input type="checkbox" value="">Extra Tomato <span>+ $4.30</span>
                        </label>
                        <label>
                            <input type="checkbox" value="">Extra Peppers <span>+ $2.50</span>
                        </label>
                        <a href="#0" class="add_to_basket">Add to cart</a>
                    </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
                <h5>6. Chorizo & Cheese</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-6.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>€ 24,71</strong>
            </td>
            <td class="options">
                <div class="dropdown dropdown-options">
                        <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a> 
                    <div class="dropdown-menu">
                        <h5>Select an option</h5>
                        <label>
                            <input type="radio" value="option1" name="options_6" checked>Medium <span>+ $3.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option2" name="options_6">Large <span>+ $5.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option3" name="options_6">Extra Large <span>+ $8.30</span>
                        </label>
                        <h5>Add ingredients</h5>
                        <label>
                            <input type="checkbox" value="">Extra Tomato <span>+ $4.30</span>
                        </label>
                        <label>
                            <input type="checkbox" value="">Extra Peppers <span>+ $2.50</span>
                        </label>
                        <a href="#0" class="add_to_basket">Add to cart</a>
                    </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
            
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
                <h5>7. Beef Taco</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-7.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>€ 8,70</strong>
            </td>
            <td class="options">
                 <div class="dropdown dropdown-options">
                <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                <div class="dropdown-menu">
                <a href="#0" class="add_to_basket">Add to cart</a>
                </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
            
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
                <h5>8. Minced Beef Double Layer</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-8.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>€ 6,30</strong>
            </td>
            <td class="options">
                <div class="dropdown dropdown-options">
                    <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                    <div class="dropdown-menu">
                        <h5>Select an option</h5>
                        <label>
                            <input type="radio" value="option1" name="options_7" checked>Medium <span>+ $3.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option2" name="options_7">Large <span>+ $5.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option3" name="options_7">Extra Large <span>+ $8.30</span>
                        </label>
                        <h5>Add ingredients</h5>
                        <label>
                            <input type="checkbox" value="">Extra Tomato <span>+ $4.30</span>
                        </label>
                        <label>
                            <input type="checkbox" value="">Extra Peppers <span>+ $2.50</span>
                        </label>
                        <a href="#0" class="add_to_basket">Add to cart</a>
                    </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
            
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
                <h5>9. Piri Piri Chicken</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-9.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>€ 7,40</strong>
            </td>
            <td class="options">
                <div class="dropdown dropdown-options">
                    <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                    <div class="dropdown-menu">
                        <h5>Select an option</h5>
                        <label>
                            <input type="radio" value="option1" name="options_8" checked>Medium <span>+ $3.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option2" name="options_8">Large <span>+ $5.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option3" name="options_8">Extra Large <span>+ $8.30</span>
                        </label>
                        <h5>Add ingredients</h5>
                        <label>
                            <input type="checkbox" value="">Extra Tomato <span>+ $4.30</span>
                        </label>
                        <label>
                            <input type="checkbox" value="">Extra Peppers <span>+ $2.50</span>
                        </label>
                        <a href="#0" class="add_to_basket">Add to cart</a>
                    </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
            
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
                <h5>10. Burrito Al Pastor</h5>
        </td>
        <tr>
            <td>
                <figure class="thumb_menu_list"><img src="img/menu-thumb-10.jpg" alt="thumb"></figure>
                
            </td>
            <td>
                <strong>€ 7,70</strong>
            </td>
            <td class="options">
                <div class="dropdown dropdown-options">
                    <a href="#"  data-toggle="dropdown" aria-expanded="true"><i><img src="img/sinais.png" alt="sinal" style="width: 28px;"></i></a>
                    <div class="dropdown-menu">
                        <h5>Select an option</h5>
                        <label>
                            <input type="radio" value="option1" name="options_9" checked>Medium <span>+ $3.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option2" name="options_9">Large <span>+ $5.30</span>
                        </label>
                        <label>
                            <input type="radio" value="option3" name="options_9">Extra Large <span>+ $8.30</span>
                        </label>
                        <h5>Add ingredients</h5>
                        <label>
                            <input type="checkbox" value="">Extra Tomato <span>+ $4.30</span>
                        </label>
                        <label>
                            <input type="checkbox" value="">Extra Peppers <span>+ $2.50</span>
                        </label>
                        <a href="#0" class="add_to_basket">Add to cart</a>
                    </div>
                </div>
            </td>
        </tr>
        <td colspan="3">
            
                <p>
                    Fuisset mentitum deleniti sit ea.
                </p>
        </td>
    </tbody>
</table>