<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---->
    <!--adicionando bootstrap-->
    <link rel="stylesheet" href="/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <!--adicionando css main-->
    <link rel="stylesheet" href="/css/main.css">
    <!-- adionando css home -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- adionando css de footer partials -->
    <link rel="stylesheet" href="/css/footerPartials.css">
    <!-- adionando css de addPromocoes -->
    <link rel="stylesheet" href="/css/addPromocoes.css">
    <!-- adionando css de chat -->
    <link rel="stylesheet" href="/css/chat.css">
    <!-- adionando css de cardapio -->
    <link rel="stylesheet" href="/css/cardapio.css">
    <!-- adionando CDN JQuery -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Site Burger</title>
</head>
<!--
<body>
    <img src="/img/fundoLayout.png" alt="">
    {{>_navPrincipal}}
    {{{body}}}
    {{>_chat}}
-->
    <footer>
        <!--
        <div class="logotipo">
            <img src="/img/logotipo.png" alt="logotipo" width="200">
        </div>
        <div class="">
            <ul>
                <li><a href="">Ajude a melhorar</a></li>
                <li>
                    <h4>Contatos:</h4>
                </li>
                <li><a href="">Fale Conosco</a></li>
            </ul>
        </div>
        -->
    </footer>
    <script src="/js/chat.js"></script>
    <script src="/js/cardapios.js"></script>
</body>

</html>