<!DOCTYPE html>
<html lang="pt-br">

<head>
<<<<<<< HEAD
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">    
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---->
    <!--adicionando bootstrap-->
    <link rel="stylesheet" href="/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <!--adicionando css main-->
    <link rel="stylesheet" href="/css/main.css">
    <!-- adionando css home -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">    
>>>>>>> 4b8efe129c8f9736f98c9b7d2e1031398f84b2c2
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Adionando Slide Da Pagina Home -->
    <link rel="stylesheet" href="/css/superslides.css">
    <!-- Fim Pagina Home -->
    
    <title>Burguer Restaurant</title>
</head>
<body>
    
    {{>_navPrincipal}}
    {{{body}}}
    {{>_footer}}
</body>
<!-- adionando CDN JQuery
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<<<<<<< HEAD
    ALL JS FILES 
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
     ALL PLUGINS -->
	<script src="js/jquery.superslides.min.js"></script>
	<script src="js/images-loded.min.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/baguetteBox.min.js"></script>
	<script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
=======
    <!-- ALL JS FILES -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/js/jquery.superslides.min.js"></script>
	<script src="/js/images-loded.min.js"></script>
	<script src="/js/isotope.min.js"></script>
	<script src="/js/baguetteBox.min.js"></script>
	<script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
>>>>>>> 4b8efe129c8f9736f98c9b7d2e1031398f84b2c2
    <script src="/js/chat.js"></script>
</body>
</html>