<!--
<section id="addPromocoes">
    <h2>Adicione Suas novas Promoções</h2>
    <hr>
    <div class="form">
        <form action="" method="post" class="formPromocoes">
            <ul>
                <li><label for="">Selecione a Promoção</label></li>
                <li>
                    <select name="" id="">
                        <option value="1">Promoção 1</option>
                        <option value="2">Promoção 2</option>
                        <option value="3">Promoção 3</option>
                    </select>
                </li>
                <li><label for="">Adicione a imagem:</label></li>
                <li><input type="file" class="inputFile"></li>
                <li><input type="text" placeholder="Digite o nome da promoção"></li>
                <li><textarea name="" id="textareaPromocoes" cols="30" rows="10"
                        placeholder="Digite seu Texto"></textarea></li>
                <li><button class="btn btn-success">Enviar Promoção</button></li>
            </ul>
        </form>
    </div>
</section>
-->