

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-3">
            	<p><a href="list_page.html" class="btn_side">Back to search</a></p>
				<div class="box_style_1">
					<ul id="cat_nav">
						<li><a href="#starters" class="active">Combos <span>(16)</span></a></li>
						<li><a href="#main_courses">Lanches<span>(10)</span></a></li>
						<li><a href="#beef">Sorvetes <span>(5)</span></a></li>
						<li><a href="#desserts">Açaí <span>(12)</span></a></li>
						<li><a href="#drinks">Bebidas <span>(9)</span></a></li>
					</ul>
				</div><!-- End box_style_1 -->
                
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<small><h1>Funcionamento</h1> <h2>de segunda a Domingo</h2> <h1>das 17h às 22h</h1> </small>
				</div>
			</div><!-- End col-md-3 -->
					<!-- =======================================PRIMEIRA PARTE MENU======================================================= -->
			{{>_menuBurger}}
					<!-- =======================================SEGUNDA PARTE MENU======================================================= -->
			{{>_menuComida}}		
					<!-- =======================================TERCEIRA PARTE MENU======================================================= -->
			{{>_menuPizza}}
					<!-- ========================================QUARTA PARTE MENU============================================================== -->
			{{>_menuDoces}}
				<!-- ============================================QUINTA PARTE MENU========================================================== -->
			{{>_menuBebidas}}
					<a class="btn_full" href="cart.html">Pedir</a>
				</div><!-- End cart_box -->
                </div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->
            
		</div><!-- End row -->
</div><!-- End container -->