<!-- Content ================================================== -->
<div class="container margin_60_35">
=======
	<div class="row">

		<div class="col-md-3">
			<p><a href="list_page.html" class="btn_side">Back to search</a></p>
			<div class="box_style_1">
				<ul id="cat_nav">
					<li><a href="#starters" class="active">Combos <span>(16)</span></a></li>
					<li><a href="#main_courses">Lanches<span>(10)</span></a></li>
					<li><a href="#beef">Sorvetes <span>(5)</span></a></li>
					<li><a href="#desserts">Doces <span>(12)</span></a></li>
					<li><a href="#drinks">Bebidas <span>({{bebidas.length}})</span></a></li>
					<li><a href="">Pizza</a></li>
					<li><a href="">Almoço</a></li>
				</ul>
			</div><!-- End box_style_1 -->

			<div class="box_style_2 hidden-xs" id="help">
				<i class="icon_lifesaver"></i>
				<small>
					<h1>Funcionamento</h1>
					<h2>de segunda a Domingo</h2>
					<h1>das 17h às 22h</h1>
				</small>
			</div>
		</div>
		<!-- End col-md-3 -->
		<!-- =======================================PRIMEIRA PARTE MENU======================================================= -->
		{{>_menuBurger}}
		<!-- =======================================SEGUNDA PARTE MENU======================================================= -->
		{{>_menuComida}}
		<!-- =======================================TERCEIRA PARTE MENU======================================================= -->
		{{>_menuPizza}}
		<!-- ========================================QUARTA PARTE MENU============================================================== -->
		{{>_menuDoces}}
		<!-- ============================================QUINTA PARTE MENU========================================================== -->
		{{>_menuBebidas}}


		<div class="col-md-3" id="sidebar">
			<div class="theiaStickySidebar">
				<div id="cart_box">
					<h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
					<table class="table table_summary">
						<tbody>
							<tr>
								<td>
									<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a>
									<strong>1x</strong>
									Enchiladas
								</td>
								<td>
									<strong class="pull-right">$11</strong>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a>
									<strong>2x</strong>
									Burrito
								</td>
								<td>
									<strong class="pull-right">$14</strong>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a>
									<strong>1x</strong>
									Chicken
								</td>
								<td>
									<strong class="pull-right">$20</strong>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a>
									<strong>2x</strong>
									Corona Beer
								</td>
								<td>
									<strong class="pull-right">$9</strong>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a>
									<strong>2x</strong>
									Cheese Cake
								</td>
								<td>
									<strong class="pull-right">$12</strong>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<div class="row" id="options_2">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
							<label><input type="radio" value="" checked name="option_2" class="icheck">Entrega</label>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
							<label><input type="radio" value="" name="option_2" class="icheck">Retirar no local</label>
						</div>
					</div><!-- Edn options 2 -->

					<hr>
					<table class="table table_summary">
						<tbody>
							<tr>
								<td>
									Subtotal <span class="pull-right">R$56</span>
								</td>
							</tr>
							<tr>
								<td>
									Entrega <span class="pull-right">R$10</span>
								</td>
							</tr>
							<tr>
								<td class="total">
									TOTAL <span class="pull-right">R$50</span>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<a class="btn_full" href="cart.html">Pedir</a>
				</div><!-- End cart_box -->
			</div><!-- End theiaStickySidebar -->
		</div><!-- End col-md-3 -->

	</div><!-- End row -->
</div><!-- End container -->