<section>
    <h2>Resetar as Paginas</h2>
    <p>Ao entrar nesta pagina se estiver descomentado a models responsável por criar tables irá resetar as tabelas</p>
    <ul>
        <li><a href="/add_bd/headernav"><button class="btn btn-success">HeaderNav</button></a></li>
        <li><a href="/add_bd/homeslideshow"><button class="btn btn-success">slideshow</button></a></li>
        <li><a href="/add_bd/history"><button class="btn btn-success">History</button></a></li>
        <li><a href="/add_bd/cardapiohome"><button class="btn btn-success">Cardapio Pagina Home</button></a></li>
        <li><a href="/add_bd/footer"><button class="btn btn-success">Footer</button></a></li>
        <li><h4>Resetando Menus</h4></li>
        <li><a href="/add_bd/menuburger"><button class="btn btn-success">Menu Burger</button></a></li>
        <li><a href="/add_bd/menubebidas"><button class="btn btn-success">Menu Bebidas</button></a></li>
    </ul>
</section>