<section>
    <ul>
        <h2>Mais tarde Vou tentar resetar tables com apenas no apertar o button</h2>
        <li><button type="submit"value="HeaderNav.sync({ force: true })">Create table</button></li>
    </ul>
    <ul>
        <li><a href="/add_bd/headernav"><button class="btn btn-success">HeaderNav</button></a></li>
        <li><a href="/add_bd/homeslideshow"><button class="btn btn-success">slideshow</button></a></li>
        <li><a href="/add_bd/history"><button class="btn btn-success">History</button></a></li>
        <li><a href="/add_bd/cardapiohome"><button class="btn btn-success">Cardapio Pagina Home</button></a></li>
        <li><a href="/add_bd/footer"><button class="btn btn-success">Footer</button></a></li>
    
    </ul>
</section>