<section id="addCategoria">
    <div class="card">
        <div class="card-body mt-5">
            <h2>Classic Burger</h2>
            <ul>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><label for="">Burger </label></li>
                <li><input type="text" name="" placeholder="Digite o valor do Burger: "></li>
                <li><button class="btn btn-success">Enviar</button></li>
            </ul>
        </div>
    </div>
</section>